@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-top-1718454415 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1718454415 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-top-1718454415 .shape-fill {
    fill: #F9FAFB; /* This matches the gray-50 color from the contact section */
}