@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-top-1718454415 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1718454415 svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 75px;
}

.custom-shape-divider-top-1718454415 .shape-fill {
    fill: rgb(249, 250, 251);
}